<link rel="stylesheet" href="/styles/navbar.css" />
<nav class="nabar">
  <div class="div-a">
    <% if (!currentUser){ %>
    <a href="/register" class="nav-link">
      <button type="button" class="nav-btn1">Register</button>
    </a>
    <a href="/login" class="nav-link">
      <button type="button" class="nav-btn2">Login</button>
    </a>
    <% } else{ %>
    <a href="/settings" class="nav-link">
      <button type="button" class="nav-btn1">
        Hello, <%= currentUser.username %>
        <img src="images/profile.png" alt="" />
      </button>
    </a>
    <!-- <a href="/profile" class="nav-link"><%= currentUser.username %></a> -->
    <a href="/logout" class="nav-lin logout-responsive>
      <button type="button" class="logout">Logout</button>
    </a>
    <% } %>
  </div>
  <div class="div-b">
    <div class="na-flexx1">
        <a class="nabar-brand1" href="/">
          <img src="images/weCode.png" alt="" />
        </a>
      <div class="collapsey">
        <ul id="list"">
          <li class="na-item">
            <a href="/" class="nav-lin">Home</a>
          </li>
          <li class="na-item">
            <a href="/aboutus" class="nav-lin">About</a>
          </li>
          <li class="na-item">
            <a href="/templates" class="nav-lin">Products</a>
          </li>
          <li class="na-item">
            <a href="" class="nav-lin">Features</a>
          </li>
          <li class="na-item">
            <a href="/contacts" class="nav-lin">Contact</a>
          </li>
          <li class="na-item logout-none">
          <a href="/logout" class="nav-lin">
            Logout
          </a>
        </ul>
      </div>
    </div>
    <div class="na-flex2">
      <form action="" class="form">
        <button>
          <img src="images/search-interface-symbol.png" alt="" />
        </button>
        <input type="search" name="search-bar" id="" placeholder="Search" />
      </form>
      <div class="e-flex">
        <a href="/templates" class="nav-lin">
          <button type="button" class="nav-btn2 get-we-code">Get weCode</button>
        </a>
      </div>
    </div>
    <div id="navMenu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
</nav>
<% if(error && error.length>0){ %>
<div class="alert alert-primary" role="alert"><%= error %></div>
<% } else if(success &&success.length>0){ %>
<div class="alert alert-success" role="alert"><%= success %></div>
<% } else if(welcome && welcome.length>0){ %>
<div class="alert alert-info" role="alert"><%= welcome %></div>
<% }%>

<script>
  const navMenu = document.querySelector("#navMenu");
  const list = document.querySelector("#list");

  navMenu.addEventListener("click", () => {
    navMenu.classList.toggle("active");
    list.classList.toggle('active');
;  })
</script>
