<%- include('../partials/header'); -%> <%- include('../partials/navbar2'); -%>
<head>
  <title>weCode | dashboard</title>
  <link rel="stylesheet" href="/styles/dashboard.css" />
  <link rel="stylesheet" href="/styles/sidebar.css" />
</head>

<body>
  <main>
    <%- include('../partials/sidebar'); -%>
    <div class="main-dash">
      <div>
        <div class="profile-dash">
          <p class="main-profile">Profile</p>
          <button class="select">
            <a style="text-decoration: none" href="/mysites">My Sites</a>
          </button>
        </div>
      </div>

      <div class="profile-dash">
        <div>
          <div class="acc-dash">
            <img
              src="images/person.png"
              alt="profile-img"
              class="profile-img"
            />
            <div class="profile">
              <p><%= currentUser.username %></p>
              <span>@<%= currentUser.username %> on weCode</span>
            </div>
          </div>
        </div>
        <div class="min-dash">
          <a href="/settings">Edit Profile</a>
          <a href="/settings">Edit Forum Profile</a>
          <a href="/settings">Edit Notification Settings</a>
        </div>
      </div>

      <div class="section">
        <div class="sections">
          <div class="section1">
            <p class="dash-content">At a glance</p>
            <div>
              <div class="min-content">
                <div class="min-content5">
                  <i class="fa-solid fa-thumbtack"></i>
                  <a href="" class="content4">5 post</a>
                </div>
                <div class="min-content5">
                  <i class="fa-solid fa-file-circle-plus"></i>
                  <a href="" class="content4">5 post</a>
                </div>
              </div>
              <div class="min-content1">
                <div class="min-content5">
                  <i class="fa-regular fa-message"></i>
                  <a href="" class="class= content4">2 comments</a>
                </div>
                <p class="multipurpose-text">
                  weCode running Multipurpose theme.<br />
                  Search Engines Discourage
                </p>
              </div>
            </div>
          </div>
          <div class="section2">
            <p class="dash-content">Activity</p>
            <p class="min-title">Recently Published</p>
            <div class="min-container">
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">Post for learn Education</p>
              </div>
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">Post for Advanced Education</p>
              </div>
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">This is a sample page</p>
              </div>
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">Dummy Post for Education</p>
              </div>
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">Hello David!</p>
              </div>
            </div>
            <p class="dash-content">Recent Comments</p>
            <div class="acc-dash1">
              <img src="images/joy-pfp.png" alt="" class="profile-img1" />
              <div class="img-content">
                <p>From admin on <a href="">Hello David!</a></p>
                <p class="">Thanks so much</p>
              </div>
            </div>
            <div class="acc-dash1">
              <img src="images/joy-pfp.png" alt="" class="profile-img1" />
              <div class="img-content">
                <p>From weCode on <a href="">Hello David!</a></p>
                <p>You are welcome</p>
              </div>
            </div>
            <a href="/infotemplate"
              ><button class="ld-more">Load More</button></a
            >
          </div>
        </div>
        <div class="sections">
          <div class="section3">
            <p class="dash-content">Quick draft</p>
            <div class="form-container">
              <form method="POST" action="/contacts"" class="formstyle">
                <label for="Title"></label><br />
                <input
                  type="text"
                  id="title"
                  name="name"
                  placeholder="Name"
                /><br />
                <input
                  type="text"
                  id="title"
                  name="subject"
                  placeholder="Title"
                /><br />
                <label for="What is on your mind"></label>
                <textarea
                  name="message"
                  id=""
                  cols="20"
                  rows="5"
                  placeholder="What is on Your mind?"
                ></textarea
                ><br />
                <a href=""><button class="ld-more">Submit</button></a>
              </form>
            </div>
          </div>
          <div class="section4">
            <p class="dash-content">weCode Events and News</p>
            <div class="box-blog">
              <p class="box-blog1">Attend and upcoming Event near you.</p>
              <div class="box-blg">
                <p>Global weCode Translation Day</p>
                <p>Ikeja, Lagos</p>
              </div>
              <div class="box-blg">
                <p>Global weCode Translation Day 3</p>
                <p>Dev Blog: Global weCode Translation Day 4</p>
              </div>
              <div class="box-blg">
                <p>Hero Bliss: Challenge Gladly Accepted</p>
                <p>Dev Blog: Global weCode Translation Day 4</p>
              </div>
              <div class="box-blg">
                <p>Designers Day</p>
                <p>Dev Blog: Global weCode Translation Day 4</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
