<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>
<%- include('../partials/banner'); -%> <%- include('../partials/center'); -%>
<%- include('../partials/footer'); -%>
<head>
<title>weCode | Home</title>
</head>